.go-back-btn {
    height: 40px;
    border: none;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--c-white);

    &:hover {
        background-color: #d1d1d1;
    }
}

.go-back-btn svg{
    height: 80%;
    width: 80%;
    color: var(--c-orange);
}