:root {
  --c-white: #fff;
  --c-black: #000;
  --c-orange-light: #ff8c28;
  --c-orange: #ff7029;
  --c-orange-heavy: #e44b25;
  --c-linear-gradient-orange-to-orange: linear-gradient(20deg, rgba(229,78,38,1) 35%, rgba(253,135,40,1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.modal_overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #0000006b;
    transition: all .3s;
}

.modal_content {
    position: absolute;
    right: 0;
    width: 700px;
    height: 100%;
    background-color: #fff;
    padding: 25px;
    animation: slide-in 0.3s ease-out forwards;
}

.modal_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    &>p {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &>button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 40px;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        &>svg {
            height: 100%;
            width: 30px;
        }

        &>span {
            text-decoration: underline;
        }
    }
}

/* Animações para entrada e saída */
@keyframes slide-in {
    from {
        transform: translateX(50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal_overlay.fade_out {
    animation: fade-out 0.3s ease-out forwards;
}

.modal_content.slide_out {
    animation: slide-out 0.3s ease-out forwards;
}
