:root {
  --c-white: #fff;
  --c-black: #000;
  --c-orange-light: #ff8c28;
  --c-orange: #ff7029;
  --c-orange-heavy: #e44b25;
  --c-linear-gradient-orange-to-orange: linear-gradient(20deg, rgba(229,78,38,1) 35%, rgba(253,135,40,1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}